@import "normalize";
@import "defaults";
@import "fonts";
@import "header";
@import "macro";

.b-content {
  margin: 10px;
}

.b-catalog-item {
  width: 80%;
  margin: auto;
}
.b-catalog-item__source {
  font-size: 80%;
}
.b-catalog-index {
  width: 80%;
  margin: auto;
}